[2021-10-09 18:20] cryptosbyte opened #1 "your code is hurting my eye"
Ay ay, please install some Visual Studio Code extensions (formatters like Prettier and linters like ESLint) and format your documents/files.

[2021-10-15 14:16] codergautam opened #2 "fix movement"
like when you move it doesnt show up on the other clients

[2021-10-15 19:21] #2 closed

[2021-10-18 19:19] codergautam opened #8 "Mobile Support"
Allow mobile players to join.

- [x] Fix viewport function for mobile
- [x] Add mobile Joystick
- [ ] Hit button for mobile

[2021-10-18 19:21] codergautam opened #9 "Collectibles"
Add collectibles like coins that the player can collect.

Should be dropped when a player dies, and should also randomly spawn around the map.

[2021-10-18 19:29] codergautam opened #10 "Better Respawn"
Make a better respawn system that doesn't just refresh the page. Also don't disconnect the sockets when they die.

[2021-10-18 22:52] codergautam opened #14 "Sword Rendering Breaks on Resize"
Broken by the fix for #13

[2021-10-19 02:57] cd-CreepArghhh opened #15 "Hit cooldown"
So that there is no autoclicking

[2021-10-19 02:58] cd-CreepArghhh opened #16 "add kill counter"
so that u how many u killed

[2021-10-19 02:58] cd-CreepArghhh opened #17 "add highscore"
you can do this with cookies

you can add a leaderboard too if you want

[2021-10-19 03:04] cd-CreepArghhh opened #18 "Round FPS"
you don't need to know that you have 69.696969 fps.

[2021-10-19 17:46] codergautam commented on #14
Nevermind, turns out 3.16 added ScaleManager, and I was using 3.15 lmao.

[2021-10-19 17:46] #14 closed

[2021-10-20 02:38] codergautam opened #22 "Health Regen"
You regen health if you aren't hit for the past 5 seconds

[2021-10-20 02:42] codergautam opened #24 "Fix 2x speed when going diagonally"
If the up and the right key are pressed at the same time (two motions activated), the motion forward will be 0.707normal speed and the motion to the right will be 0.707 normal speed.

[2021-10-22 02:43] codergautam opened #25 "Sword Animation"
Right now sword animation looks a bit bad make the sword smoothly swing.

[2021-10-22 04:35] codergautam opened #26 "Zoom Out Camera When Collect Coin"
When you collect a coin, the player gets bigger. After a while, the player gets so big that it fills the whole screen. To prevent this, we must zoom out the camera when the player gets a coin.

[2021-10-22 04:41] codergautam opened #27 "Server-sided Interpolation Prediction"
Right now, the client uses interpolation to make movements smoother. The problem is that a player might appear in a different position on a clients screen, and they might actually be in a different position on the server. This sometimes breaks collisons and hit reg. We have to make the server predict where the player might show up for that specific client and check accordingly. Heres how I picture

[2021-10-22 15:14] codergautam opened #29 "Mouse Movement."
Move with your mouse. Suggested by kog.

[2021-10-24 17:23] codergautam opened #35 "How to play screen"
Create a how to play button in the home page with basic instructions on how to play sword.io!

[2021-10-25 01:07] codergautam opened #38 "Particle hit effect"
Add an effect that comes when you hit someone. Helpful for knowing if you hit someone.

[2021-10-27 18:05] DillonB07 opened #41 "End screen not responsive"
The end screen isn't responsive to the screen size.
<img width="2048" alt="Screenshot 2021-10-27 at 19 06 02" src="https://user-images.githubusercontent.com/83948303/139121844-bb4a6ee8-4dde-4501-a162-58cfd69fad54.png">
New high score :wink:

[2021-10-28 22:38] cd-CreepArghhh opened #42 "Weapon use sound and kill sound."

[2021-11-12 02:43] codergautam commented on #8
Need to be redone (See PIXI Rewrite)

[2021-11-12 02:46] codergautam opened #50 "PIXI Rewrite"
Rewrite the client in PIXI. This will be a hard thing to do, but it's necessary. Phaser has some limitations, and PIXI allows more control over the client.

[2021-11-12 02:46] codergautam commented on #41
Closed, since this is a Phaser specific bug, will be fixed in PIXI Rewrite (#50)

[2021-11-13 00:45] codergautam commented on #50
too much work

[2021-11-13 00:45] #50 closed

[2021-11-13 00:45] codergautam commented on #41
since i quit pixi rewrite this is on todo list

[2021-11-13 00:55] #41 closed

[2021-11-13 00:55] codergautam commented on #41
fixed

[2021-11-13 12:17] NarmakTwo commented on #8
Check [this](https://www.codegrepper.com/code-examples/javascript/javascript+detect+if+mobile) code out, it should detect mobile devices, and you can put something in the code that makes so if it dectects mobile, it will ask if you want to put joystick mode on. But you can still change the mode through a settings menu.

[2021-11-17 17:30] #8 closed

[2021-11-17 17:31] codergautam commented on #27
*time to test this theory*

[2021-11-18 21:03] suhhee1011 commented on #35
Hi @codergautam Can I work on this one?

[2021-12-01 19:32] Makonede opened #52 "Error while verifying captcha: invalid-input-secret"
When attempting to join a swordbattle.io game in the latest version, the following error appears:
[code]

[2021-12-01 20:20] Makonede commented on #52
Fixed now.

[2021-12-01 20:20] #52 closed

[2021-12-01 22:03] codergautam commented on #52
This is a bug, it happens sometimes and i'm not able to reproduce, i will look into it further, thanks!.

[2021-12-06 19:35] Makonede opened #53 "Options menu"
Add an options menu with things like:
- Volume control, separated across sections like music and SFX
- Disabling #38
- Possibly different game backgrounds instead of just grass
- Text font options?

[2021-12-06 22:03] codergautam commented on #53
Ooh, very good idea, I will try to get this rolled out soon.

[2021-12-21 18:53] DillonB07 opened #55 "Hosting"
Replit's hosting is great for basic websites. However, if it was ever, this isn't a basic website anymore. Maybe use some sort of free hosting like Heroku, vercel etc - _I don't know what JS apps would use_

This would probably help with performance a **lot**!

[2021-12-21 23:14] codergautam commented on #55
I've tried using Heroku and Vercel. I actually used to heroku right when I started my game. The problem with heroku is that it's actually worse than repl (with free plan). Also, heroku doesn't allow SSL on the free plan, so I cant use my swordbattle.io domain with it. I managed to get my hands on repl hacker plan and I boosted the game, so it's waaay faster than heroku. The problem with Vercel is

[2021-12-23 18:50] #35 closed

[2022-01-25 18:29] #27 closed

[2022-01-25 18:29] codergautam commented on #27
wontfix

[2022-01-26 18:49] codergautam commented on #1
ESLint was added

[2022-02-15 00:56] rbcoder117 opened #66 "Add groups"
You should add groups based by account usernames. It should have a chat and also immunity to your groups members.So like your friends can all work together and get the most coins.

[2022-02-15 01:40] codergautam commented on #66
Hmm, that's not a bad idea. I'm actually working on more important things like chat system, and skin shop, but hey, I might add this later.

[2022-02-15 01:41] codergautam commented on #38
This was added.

[2022-02-15 01:41] #38 closed

[2022-02-15 01:41] codergautam commented on #17
There's a leaderboard now.

[2022-02-15 01:41] #17 closed

[2022-02-15 02:12] rbcoder117 commented on #66
I would help if only I knew JS…

[2022-02-15 02:15] FishyMine commented on #66
@rbcoder117 The best way to learn Javascript is to watch full-course videos or learn by remixing other projects. Heres a simple course for javascript: [Youtube.com](https://www.youtube.com/watch?v=jS4aFq5-91M)

Also your idea is amazing, hopefully we will be able to add it :)

[2022-02-16 15:22] rbcoder117 commented on #55
@FishyMine that was what I was thinking.

[2022-02-17 05:08] rbcoder117 commented on #55
[Download the imager](raspberrypi.com/software/) then got to Ubuntu->Ubuntu Server(version) then format your sd card and set it up.

[2022-02-17 14:52] FishyMine commented on #55
@rbcoder117 he doesn't have an rpi I think. He would have to purchase a VPS and make it Ubuntu

[2022-02-19 16:06] codergautam commented on #55
@FishyMine My raspi isn't powerful enough to host this, (works but lags after 10 conc players). Right now I think my replit hacker plan is good enough, but once the game grows I'll be purchasing multiple VPS's in different locations.

[2022-02-19 16:07] codergautam commented on #53
I made a options menu for controlling the movement mode, I will add these options soon!

[2022-02-19 16:07] codergautam commented on #42
Do you have any sounds I could use?

[2022-02-19 16:07] codergautam commented on #29
This was added in a recent update.

[2022-02-19 16:07] #29 closed

[2022-02-21 17:53] rbcoder117 commented on #55
@codergautam do you have the 8gb ram?

[2022-02-21 17:57] rbcoder117 opened #79 "cusing"
A lot of times people will cus in their names but that souldn't be allowed. You should check weather they are logged into a acount and then temp ban it for 5 minutes and continue this prosses every time. For people without an acount I dont know. this will make the game more kid freindly.

[2022-02-25 01:17] rbcoder117 commented on #55
@codergautam

[2022-02-26 00:27] codergautam commented on #55
I have the raspi 2

[2022-02-26 19:54] FishyMine commented on #55
I am opening a private hosting service to host swordbattle.io - it should be finished today or tmr. Hopefully the hosting service im making will work fine.

[2022-03-05 16:44] codergautam commented on #55
I'm looking at possible VPS options which would be a better choice than repl.it

[2022-03-12 01:43] rbcoder117 commented on #79
@codergautam

[2022-03-12 01:50] codergautam commented on #79
What

[2022-03-12 01:56] rbcoder117 commented on #79
Oops sry

[2022-04-24 00:18] mollthecoder opened #92 "Security vulnerability involving man-in-the-middle attacks"
## Vulnerability:
If someone were to wait for socket.io to load, then overwrote the io function, they could perform a man-in-the-middle attack and hack/bot the game.
## How to fix it:
You would need to webpack the socket.io script into your main code, that way it can't be overwritten.

[2022-04-27 22:16] codergautam commented on #79
Can you make a pr?

[2022-04-27 22:17] codergautam commented on #55
Note I've switched to FishyMine's vps which is working great as of now, closing this issue

[2022-04-27 22:17] #55 closed

[2022-04-27 22:18] codergautam commented on #53
If anyone else could work on this that'd be great

[2022-04-28 15:40] rbcoder117 opened #94 "Add more skins"
Leave your skin idea’s here
@codergautam
Template for sword:
![9058ADA5-A95F-42C9-AD7E-34521160CBC6](https://user-images.githubusercontent.com/91441703/165790876-eeb4129a-6c36-4279-bead-42f2fffd00ed.png)

[2022-04-28 15:40] rbcoder117 commented on #94
Plz put a pin on this

[2022-05-01 10:25] Classfied3D opened #95 "Websocket Error"
When I try and play the game (in new tab), this error message appears:

[code]

[2022-05-03 16:40] natethemaker opened #97 "Why am I here?"
I am unable to open a pull request because i cant fork the project which means i cant do coding

[2022-05-08 23:18] rickyof2021 opened #100 "Ideas"
We can make a global chat, and if the word is inappropriate it was turn into hashtags, just like Roblox.

[2022-05-18 16:29] DillonB07 commented on #97
Yes, everything works fine. Thanks @codergautam .

I'll close this now as we've solved this issue.

[2022-05-18 16:29] #97 closed

[2022-05-18 16:49] codergautam commented on #42
No, currently there's only a sound when you hit someone. We need a swing sound effect. PR's welcome.

Hint: edit OpenScene.js to load the sound effect, then in GameScene call the sound on swing.

[2022-05-18 16:51] codergautam commented on #53
@FishyMine Any progress on this?

[2022-05-18 16:57] codergautam opened #109 "Evolution Update"
When you reach a certain level, there will be different classes that you can choose from. Each class will have a special ability that can be used once every X seconds, and affects characteristics like speed, damage, knockback, etc.

- [x] Classes loader on the server
- [x] Evolution queue in the server
- [x] Class picker UI in the client
- [x] States for abilities in server
- [x] Client ability bu

[2022-05-18 20:47] zarooma commented on #66
@rbcoder117  i not that good with JavaScript but i like using w3schools here the link https://www.w3schools.com/js/

[2022-05-19 01:39] mollthecoder commented on #109
I like this idea. It's very similar to other io games, thus hindering it's uniqueness though.

[2022-05-19 16:34] mollthecoder commented on #109
Should we put this in the `doing` section on the `current` project?

[2022-05-19 16:36] mollthecoder commented on #100
We could make it into `*` instead of hashtags because `*` is more well known as filtering than hashtag.

[2022-05-19 16:38] mollthecoder commented on #100
Also, global chat doesn't seem to fit the game too awfully well. I don't really like the idea.

[2022-05-19 16:50] codergautam commented on #109
Thanks. And yeah, I know it's not very unique, but mitblade is kinda forcing me to add this. Tbh he just copying mope.io

[2022-05-19 16:58] mollthecoder opened #114 "Private servers"
### Discussed in https://github.com/swordbattle/swordbattle.io/discussions/112

<div type='discussions-op-text'>

<sup>Originally posted by **mollthecoder** May 19, 2022</sup>
Maybe a feature to allow people to buy private servers for the game? I could make it by myself if you're okay with the idea. I really like this idea and it'd be a blast for me to work on.</div>

[2022-05-19 16:59] mollthecoder commented on #114
Currently working on

[2022-05-20 18:03] FishyMine commented on #114
Not doing this, people will need the .enc and if they have it they can destroy swordbattle.

[2022-05-20 18:03] DillonB07 commented on #114
@mollthecoder How do you plan to handle different databases, the leaderboards etc

[2022-05-20 18:09] FishyMine commented on #114
We can only have 1 database aka the official one @DillonB07

[2022-05-20 18:10] DillonB07 commented on #114
I know. I was seeing if mollthecoder had an idea of how it would work.

[2022-05-20 18:14] FishyMine commented on #114
Well they would need the database url, and if they have it they can easily login to it and destroy swordbattle

[2022-05-20 21:06] codergautam commented on #114
I never said that?

[2022-05-20 21:07] codergautam commented on #114
And I presume that private servers are self-hosted, so I guess that priv servers wouldn't connect to the official database

[2022-05-20 21:48] rbcoder117 commented on #66
@zarooma I dont have time lol

[2022-05-21 13:39] FishyMine commented on #114
@codergautam well when I was editing swordbattle on my computer, I couldnt connect to a different server because it has a different database? so I had to set the servers to undefined?

[2022-05-21 13:40] FishyMine commented on #114
Well then how would they get onto the leaderboard

[2022-05-21 13:41] FishyMine opened #118 "SyntaxError: Unexpected token if"
@DillonB07 @codergautam (i mentioned Dillion because this could be from the cuss words edit)

When I run the server to make USA online, I get this error.
[code]

[2022-05-21 13:58] codergautam commented on #118
This is not @DillonB07 s fault, it's cause by #111

I've fixed it in the latest commit.

[2022-05-21 13:58] #118 closed

[2022-05-21 16:49] DillonB07 commented on #114
@FishyMine They'd be hosting their own instance of swordbattle. They'd have a leaderboard for their instance, accounts for their instance etc.

[2022-05-21 17:29] FishyMine commented on #114
@DillonB07 ah I get it now, sorry

[2022-05-21 22:32] natethemaker opened #119 "LAN hosting error"
I got all modules installed and when I run `node index.js` in the directory it returns i also did the line 451 undefined but it is teh problem
[code]

[2022-05-21 22:39] FishyMine commented on #119
You are required .env , but gautam wont gice it to anyone. It has all secrets and you can use it to abuse swordbattle. @natethemaker

[2022-05-21 22:39] FishyMine commented on #119
You are required .env @natethemaker

[2022-05-21 22:44] natethemaker commented on #119
what are the values i need for the env

[2022-05-21 22:48] FishyMine commented on #119
@natethemaker ask gautam, im not going to share the information as it literally shows everything about swordbattle lol

[2022-05-21 22:54] FishyMine commented on #119
@codergautam ^

[2022-05-22 02:24] codergautam commented on #119
Hey man, sorry but we can't give youthe env right now, i'm working on an update for a testing env file

[2022-05-22 11:33] codergautam commented on #119
Alright, I added it! Make sure to pull, and run `node setup`. this will set up a basic environment with a local server and fishy's database.

Read the README for more details on how to contribute

[2022-05-22 15:47] DillonB07 opened #120 "Better name/chat filtering"
I'll be using Google's Perspective API to improve the chat/username filtering. Any score greater than 70% will be blocked. We can fine-tune the percentage later if needed.

[Perspective API](https://perspectiveapi.com)
[Perspective Docs](https://developers.perspectiveapi.com/s/docs)

This will be worked on in https://github.com/DillonB07/swordbattle.io/

[2022-05-23 19:25] FishyMine opened #122 "Disable button when server offline"
We should make it so if the server shows "offline" you cant click it. Because kids might get confused of what "offline" means and click it. Then the would get "Cant reach server" so I say lets make the button disabled unless the server is online.

[2022-05-23 22:33] sonicx180 commented on #118
sorry for that

[2022-05-23 23:18] codergautam commented on #118
np

[2022-05-24 02:38] codergautam commented on #114
Np, but I'm not sure if they would have separate accounts and leaderboards. I was imagining it as a way you can host private games just for friends, but I guess dedicated databases would be cool too.

[2022-05-24 02:55] codergautam commented on #122
Can you make a PR for that? Hint: set the disabled attribute in TitleScene.js

[2022-05-24 22:46] sonicx180 opened #123 "How did you get the postgres username and password"
Just asking a question, how did you get the postgres username and password? I keep on looking it up on the internet and can't find any solutions.

[2022-05-24 22:47] codergautam commented on #123
We have a postgres server. We have a testing postgres setup for developers, just run `node setup` in the terminal and it should set you up with a test instance.

[2022-05-24 22:59] sonicx180 commented on #123
How did you get the server?

[2022-05-24 23:32] codergautam commented on #123
I bought it?

[2022-05-24 23:32] #123 closed

[2022-05-25 00:11] sonicx180 commented on #123
Last question :D. Where did you buy it?

[2022-05-25 00:37] codergautam commented on #123
I used cockroachdb first, then switched to Heroku Postgres

[2022-05-25 01:29] sonicx180 commented on #123
Alright, I figured it out and thanks! :D

[2022-05-25 01:35] rbcoder117 opened #124 "Wiki!!!!!!!"
I made a wiki for swordbattle: [Here it is](https://swordbattleio.fandom.com/wiki/Swordbattleio_Wiki)

[2022-05-25 02:17] codergautam commented on #124
Nice, but this should be a discussion instead. Also please don't mass ping, it sent me an email :(

[2022-05-25 02:17] #124 closed

[2022-05-25 02:50] rbcoder117 commented on #124
@codergautam btw i was gonna appolagize about that

[2022-05-25 05:13] Justman10000 commented on #124
Bad, why don't we host this ourselves? With [Wiki.js](https://js.wiki) or [MediaWiki](https://www.mediawiki.org)?

[2022-05-25 05:14] Justman10000 commented on #124
Würde ich einrichten...

[2022-05-25 05:16] Justman10000 commented on #124
Why was I mentioned?

[2022-05-25 05:22] Justman10000 commented on #124
I would use the domain in 3910198 right away...

[2022-05-25 11:58] FishyMine commented on #122
Will be pushing it soon

[2022-05-25 11:58] #122 closed

[2022-05-25 12:00] codergautam commented on #124
or we could do wiki.swordbattle.io

[2022-05-25 13:55] Justman10000 commented on #124
Yes, just need to know if you should use Wiki.js or MediaWiki now.

[2022-05-25 17:53] #119 closed

[2022-05-25 17:55] DillonB07 commented on #100
Ideas can be discussed in the discussions! Also, global chat does exist. You can press enter and it will change the text above your player to the message you enter.

[2022-05-25 17:55] #100 closed

[2022-05-26 15:24] rbcoder117 opened #129 "Can I have Dev"
Proof test im nighfox on fourums

[2022-05-26 15:43] rbcoder117 opened #130 "Where is code for bot?"
???
@codergautam

[2022-05-26 15:43] #129 closed

[2022-05-27 15:05] codergautam commented on #130
classes/AiPlayer.js

[2022-05-27 15:05] #130 closed

[2022-05-27 15:10] rbcoder117 commented on #130
TYSM

[2022-05-27 21:23] codergautam commented on #120
This would be great!

[2022-05-29 03:31] Scotch101Tape commented on #114
@mollthecoder How is this going? I have a few ideas on how to implement this but wouldn't want to move forward if your are already there.

[2022-05-30 20:08] sonicx180 opened #134 "Question"
Hi, @codergautam .
Do you have the source code for the forum.codergautam.dev?
Just asking

[2022-05-30 20:34] codergautam commented on #134
Uhm well I didn't make it I used https://discourse.org

[2022-05-30 23:40] #134 closed

[2022-05-30 23:45] sonicx180 commented on #134
alright , thanks

[2022-06-01 18:32] mollthecoder commented on #114
Not their own instance of swordbattle, just something they can connect to from the officially hosted swordbattle, kind of like you don't need to host your own instance of minecraft to have a minecraft server. Actually, I'm drawing a lot of inspiration from minecraft for this project.

[2022-06-01 18:37] mollthecoder commented on #114
The whole idea is people who want a private server pay for the hosting and we host the servers for them.

[2022-06-01 18:47] mollthecoder commented on #114
Maybe. I think for payment systems I'll let someone else handle that when the time comes. I can't work with anything money because I'm a teenager.

[2022-06-01 21:10] codergautam commented on #120
@DillonB07 Any progress on this, there are increased reports of people using bad/toxic names

[2022-06-01 21:13] mollthecoder commented on #114
That would be very resource greedy and would crash the server pretty quickly. It might be possible to optimize it to take as little resources as possible, but it'd only be able to handle like 20 servers max. Best case scenario.

[2022-06-02 19:06] mollthecoder commented on #120
Make sure to take your time. No need to feel rushed!

[2022-06-02 22:58] codergautam commented on #120
Yes, I was just checking in, take your time

[2022-06-03 15:25] FishyMine commented on #114
Multiple servers on one process would be horrible af. It would literally crash unless we like set the player limit to 5. USA could only stand up to 26 players without the TPS going down. If you did multiple you would def have to limit player limits????? If they do it they use their own vps. And how would we run multiple requests? One ip goes to one domain. Aka usa is at us2.swordbattle.io. So if i

[2022-06-03 15:27] FishyMine commented on #114
^ it would just lag and crash then you would get horrible reviews. You wanna keep one server on one process.

[2022-06-03 15:57] Scotch101Tape commented on #114
Maybe this is true, but where are we pulling these stats from. Like we have done 0 testing on how much it can handle as far as I can tell.

[2022-06-04 02:01] FishyMine commented on #114
I have no idea, they will never have the normal database (swordbattle's) because they could destroy the game so maybe they could have their own database they make?? I dont know

[2022-06-04 02:10] mollthecoder commented on #114
Running a server is very resource greedy. Because these servers are web servers, WebSocket servers, and, probably databases too if we decide to store data on the server's filesystem. And a lot of game calculations need to be done server-side instead of on user's clients to prevent cheating. Also, node.js uses JavaScript obviously, particularly the V8 engine. Here, we can't efficiently take proper

[2022-06-04 02:18] codergautam commented on #114
I'm not very experienced on this topic either, but I would argue that running multiple instances is much more greedy than just running multiple "rooms" on a single server.

If you look at the socket.io docs there is a concept called https://socket.io/docs/v3/rooms/
I was hoping you would find a way to somehow make a Room class that can essentially run a single room of the game with it's own player

[2022-06-04 10:35] DillonB07 commented on #120
Thanks.
I’m having a little trouble with promises and async functions, so I might try and setup a Python server on Replit to send the requests through.

[2022-06-04 12:37] DillonB07 commented on #120
I've spent a few hours and made no progress. I'm really confused by JS promises and asyncio. I did a little research and it really didn't help.

My issue is that I'm using `fetch()` to call an API I setup but when I put it in a function, it returns a pending promise. How do I get the program to wait for that promise to complete before continuing?

[2022-06-04 22:40] mollthecoder commented on #114
That could be possible. It's worth a shot.
But another idea I had:
We could make it free and open source. That way, people can host on their own servers. Also, it would still be profitable as that could increase playtime and player base, meaning more ad revenue.

We could also combine it with in-game coins or something, and allow regular players to have their own rooms too. And for other players,

[2022-06-05 13:52] codergautam commented on #114
@Scotch101Tape is working on the rooms idea

And sure we could have self-hosted servers I can change the setup.js file to make it work on custom servers

[2022-06-05 14:18] DillonB07 commented on #120
Anyone able to help with this please?

[2022-06-05 14:35] codergautam commented on #120
@DillonB07 If you're putting fetch in a normal function, you would have to do something like this:

[code]

[2022-06-05 14:36] codergautam commented on #120
But can you not use a replit server? It would be a pain if it goes down and I don't want to depend on other personal servers.

[2022-06-05 14:37] DillonB07 commented on #120
Yes, that's what I did @codergautam. The issue came when returning the response from the function as I get a promise not the json.

[2022-06-05 14:38] codergautam commented on #120
Can you send me your code?

[2022-06-05 14:41] DillonB07 commented on #120
Oh, ok. I'll see if I can rework it and if I can't, I'll send what I have.

[2022-06-05 14:42] codergautam commented on #120
Alright, also you shouldn't be needing fetch api anyways, just use the node.js client library

https://developers.perspectiveapi.com/s/docs-sample-requests (scroll down a bit to Node.js)

[2022-06-05 14:42] DillonB07 commented on #120
Yeah, I tried that as well.

[2022-06-05 14:43] codergautam commented on #120
Want me to try? I think that's the best option.

[2022-06-05 14:43] DillonB07 commented on #120
Yes, if you don't mind. Do you want me to create a GH codespace?

[2022-06-05 14:43] codergautam commented on #120
What branch/fork are you working on?

[2022-06-05 14:44] codergautam commented on #120
Wait you can do that? Yeah let's try

[2022-06-05 14:47] DillonB07 commented on #120
I have the private beta. Never mind, I can't figure out how to share it sorry.

[2022-06-05 14:52] codergautam commented on #120
What are you using currently?

[2022-06-05 14:52] DillonB07 commented on #120
VSCode

[2022-06-05 14:52] codergautam commented on #120
Can you invite me to a live share

[2022-06-05 14:52] codergautam commented on #120
If you don't have it it's an extension

[2022-06-05 14:52] DillonB07 commented on #120
I have it. Hang on

[2022-06-05 14:53] codergautam commented on #120
K

[2022-06-05 14:53] DillonB07 commented on #120
https://prod.liveshare.vsengsaas.visualstudio.com/join?E2F31CEBA4AD37C08F6B4AA37098021E562B

[2022-06-05 14:54] codergautam commented on #120
![image](https://user-images.githubusercontent.com/66850133/172056649-8caa9e87-4cf0-47fa-8812-3c509bd1443e.png)

[2022-06-05 14:56] codergautam commented on #120
Can you remake the link @DillonB07

[2022-06-05 14:57] DillonB07 commented on #120
Trying. Not seen this before.
<img width="312" alt="Screenshot 2022-06-05 at 15 57 38" src="https://user-images.githubusercontent.com/83948303/172056772-4b3da5a1-1c38-4cc7-b4fd-e026c77ad006.png">
.

[2022-06-05 14:58] codergautam commented on #120
Huh

[2022-06-05 14:58] codergautam commented on #120
Try this one https://prod.liveshare.vsengsaas.visualstudio.com/join?21692C46B8C6540BEFB7F6D337EEDEA9457E

[2022-06-05 15:01] DillonB07 commented on #120
Joining. Not sure what was going on with my extension. I had to use a different version of VSC.

[2022-06-05 15:01] codergautam commented on #120
K

[2022-06-05 15:05] DillonB07 commented on #120
I’m in it.

[2022-06-05 15:06] codergautam commented on #120
K

[2022-06-05 15:42] codergautam commented on #120
Sorry I have a few more errands to do, might take a few more hours

[2022-06-05 15:43] DillonB07 commented on #120
No problem. I’ll probably be here for a few more hours so lmk when you’re available if you want to do it today.

[2022-06-05 17:01] Scotch101Tape commented on #114
Yeahhhh I should've mentioned that earlier but I can confirm 😅

[2022-06-06 01:17] mollthecoder commented on #114
I'm actually making a custom software from scratch that mimics a vanilla server but can be modified to do whatever.

[2022-06-06 01:18] mollthecoder commented on #114
I know it sounds a bit overkill, like reinventing the wheel, but if it keeps going the way it is right now it will be worth it.

[2022-06-06 04:47] mollthecoder commented on #109
Everything initially planned is done. Should this issue be closed?

[2022-06-06 04:47] mollthecoder commented on #92
I'm pretty sure this was fixed a while ago.

[2022-06-06 04:47] #92 closed

[2022-06-06 16:45] DillonB07 commented on #120
Possibly.

I’m not guaranteeing it as I’m quite busy, but I should be free 6-7PM BST tomorrow if that works for you.

If you send me the code snippet that you wrote when you have time, I can try and do a little work on it myself.

[2022-06-07 12:06] mehmetbybz commented on #109
Duplicate of #

[2022-06-07 12:07] mehmetbybz opened #137 "> When you reach a certain level, there will be different classes that you can choose from. Each class will have a special ability that can be used once every X seconds, and affects characteristics like speed, damage, knockback, etc."
Duplicate of #

_Originally posted by @mehmetbybz in https://github.com/codergautam/swordbattle.io/issues/109#issuecomment-1148577542_

[2022-06-07 15:32] #137 closed

[2022-06-07 15:33] codergautam commented on #120
[code]

Good luck!

[2022-06-07 17:28] DillonB07 commented on #120
Thanks.

It’s going great!
[code]

[2022-06-07 17:39] DillonB07 commented on #120
That was a stupid error. My API key had a different name in my `.env` file 🤦
I do get this error with the snippet you sent though.

[code]

And when I go to just a regular `console.log(checkForProfanity('bad word'))` I still have the promise issues. Sorry, but I think I might have to give up on this. My JS isn't good enough for it.

[2022-06-07 18:18] codergautam commented on #120
Wait my bad try this:

[code]

[2022-06-08 15:56] mollthecoder opened #139 "Login captcha is an issue"
So, I need to make requests to swordbattle.io in order to authenticate a user, right? Problem is, there's a captcha, and I can't use the captcha from outside the sites allowed on your dashboard. So, the only solution is to disable login captcha. I don't know if you'd be okay with this, but it doesn't really introduce security holes because you still require a captcha to join the game.

[2022-06-08 16:15] mollthecoder commented on #120
Fair enough. I just felt like pointing it out.

[2022-06-08 17:39] codergautam commented on #139
... But why do you want to call /login from a place other than the trusted sites? It could be a much bigger risk because people could potentially steal user data with a proxy.

[2022-06-08 17:44] codergautam commented on #120
My bad, try this one. Pretty sure this works.

[code]

[2022-06-08 17:45] codergautam commented on #120
My bad, try this one. Pretty sure this works.

[code]

[2022-06-09 02:40] mollthecoder commented on #139
That's a good point. I'll make it authenticate users a different way. I have an idea.

[2022-06-09 02:47] codergautam commented on #139
Alright, I wish you the best of luck with it!

[2022-06-09 02:47] #139 closed

[2022-06-09 04:00] #109 closed

[2022-06-13 03:26] Astro3000x opened #143 "Randomly teleported to the other side of the map"
Idk how this happened but I teleported, I think I teleported to the place I spawned in.

[2022-06-13 04:06] codergautam commented on #143
Not sure how to help you, since this doesn't happen to me... (If anyone knows exactly how to trigger this, please let me know).

My best guess would be that you had a really high ping and everything was laggy.

[2022-06-13 04:06] #143 closed

[2022-06-14 00:34] mollthecoder commented on #143
Another possibility is a bit flip. Basically, radiation that is everywhere in the world can sometimes hit a bit of RAM and cause a single bit to flip.

TL;DR
Sometimes computers have random errors

[2022-06-14 00:45] mollthecoder opened #144 "Made a tiny oopsie"
I was testing something related to coins on a fork I have of the game, I was in fishy's test database so that I could modify my coins value, but instead I made a typo in the sql and now every account in the test database has like 999999999999 coins. Sorry.

[2022-06-14 00:46] mollthecoder commented on #144
This is why database editors exist. I couldn't figure out how to use any of them.

[2022-06-14 00:58] codergautam commented on #144
No worries this is why we have a test db, if this was done on the main db I would be so mad rn....

Anyways I use beekeeper studio as my database editor, seems to work really well for me and is cross platform.

https://www.beekeeperstudio.io/

[2022-06-14 00:58] #144 closed

[2022-06-14 16:12] mollthecoder commented on #144
Should I reset the user's coins?

[2022-06-14 16:33] codergautam commented on #144
Yeah

[2022-06-17 16:08] mollthecoder commented on #42
I found the answer:
https://gprivate.com/5zkkr

[2022-06-17 22:53] mollthecoder opened #147 "Improve Performance"
I did I lighthouse diagnostic on swordbattle. Maybe it could help with a few issues, like performance issues.
[swordbattle-diagnostics.pdf](https://github.com/codergautam/swordbattle.io/files/8931684/swordbattle-diagnostics.pdf)

[2022-06-18 02:29] codergautam commented on #147
Yes I've done it before but I don't know how to fix them, do oyu think you can help?

[2022-06-18 15:13] mollthecoder commented on #147
Of course! I was working on it yesterday actually, and planned to open a pull request with my fixes. But for now, here's what to do;
- Use a reverse proxy like [Nginx](https://www.nginx.com/solutions/web-mobile-acceleration/).
(Note: Nginx has paid products, but there is a [free and open source version](https://www.nginx.com/resources/wiki/) as well)
- Add preflight tags, it's super easy. [Tutoria

[2022-06-19 15:27] codergautam commented on #147
👍 Thanks! Let me know if you need any help.

and for the Nginx proxy, is it something I have to set up or is it something that's done in the code.

[2022-06-20 13:41] mollthecoder commented on #147
I'm not exactly sure. It is certainly not something you put in the code. Other than that, I'm not too sure. You'd have to look into it yourself.

[2022-06-20 13:47] mollthecoder commented on #147
Also, in my research, I found webp can save loads of space opposed to the lossless PNG. And although webp is lossy by default, I am unable to notice any difference in-game. I also converted the opening audio to OGG, which is supposedly smaller. In the lighthouse scan the biggest hog giving lighthouse issues is main.js. I am not at all sure how to fix that. (Note: To replicate as close as it would

[2022-06-24 23:41] FishyMine opened #154 "Patch Bots"
Patch the bot codes and not let bots join.

Ways???

- Limit join requests from ip address
- Limit names, only 1 name request may join. (as if FishyMine joined, he cant join on another tab or device)

If yall know more ways try to fix it.

[2022-06-24 23:42] FishyMine commented on #154
Actually nevermind I can find a way to fix this

[2022-06-25 22:37] codergautam commented on #154
What way?

[2022-06-27 00:23] FishyMine commented on #154
The bots join the game without even loading, I would change the code so it only limits 2 ip's to play. If you ever realize, when you use bots it will probably be on your ip address. So there would be 50 users with 1 ip address. So I would make it so that "1" ip address can only join with 2 users. As if siblings or friends want to play on the same wifi. People could still spam bots, but they would

[2022-06-27 14:02] codergautam commented on #154
A better way would be to check their packets and see if something is different than a regular player. I can work on this later.

[2022-06-29 20:00] KeroAutishima opened #155 "Issue with names"
I keep on seeing the same person on different accounts attacking me at the same time using some kind of software and its very annoying, [[ZR] ACID 728](https://swordbattle.io/[ZR]%20ACID%20728) and [(NR) ACID 726](https://swordbattle.io/(NR)%20ACID%20726)

[2022-06-29 20:01] KeroAutishima opened #156 "Acol Leaderboard"
Acol is on the leaderboard with the same name same account but in 4 different leaderboard spots [Acol](https://swordbattle.io/Acol) and [Acol](https://swordbattle.io/Acol) and [Acol](https://swordbattle.io/Acol
<img width="1395" alt="Screenshot 2022-06-29 at 9 01 02 pm" src="https://user-images.githubusercontent.com/83204722/176534393-1898a295-054d-4744-9b71-b6d4ca96da92.png">
)

[2022-06-29 23:07] codergautam commented on #156
This isn't a bug, it just means that he played many games with high coins.

If you look at the [XP Leaderboard](https://swordbattle.io/leaderboard?type=xp&duration=all), you can see that a person is only displayed once.

[2022-06-29 23:07] #156 closed

[2022-06-30 00:29] FishyMine commented on #147
You cant use nginx with nodeJS... Nginx is a webserver for html only.

[2022-06-30 00:30] FishyMine commented on #147
Nginx also works with PhP ofc, but you cant run nginx with nodejs

[2022-06-30 00:30] FishyMine commented on #147
https://nginx.org/en/docs/

[2022-06-30 15:02] codergautam commented on #155
Also how do you know it's some kind of software?

I saw him playing before and he seemed legit, we even 1v1ed

[2022-07-01 04:14] mollthecoder commented on #147
I know you deleted those comments because I still got emailed about them, but the idea isn't to use nginx as a webserver, but use it as a reverse proxy to speed up our existing webserver.

[2022-07-01 22:37] mollthecoder commented on #154
Another possibility is to do a client-side check to see if they have multiple tabs open. Of course we can't trust the clients so it would only work if paired with server-side methods as well. As in, the client-side check may not be reliable, but it's an extra defense and is better than nothing, but needs to be paired with reliable methods as well or else someone tech-savy can just thanos snap the

[2022-07-01 22:37] mollthecoder commented on #154
I'm looking at [this](https://developer.mozilla.org/en-US/docs/Web/API/Broadcast_Channel_API).

[2022-07-02 00:10] FishyMine commented on #154
Well, the bot spammers dont open new tabs, they just use the processor or something (im not sure)

[2022-07-02 01:18] codergautam commented on #154
they just send the same packets as a real player would

[2022-07-02 01:18] codergautam commented on #154
i will look into this but it seems like the botd have greatly decreased

[2022-07-02 01:19] codergautam commented on #154
if you want, i can dm you a working bot on the forums,

[2022-07-02 14:18] mollthecoder commented on #154
Y'know, they can use the same captcha to join for 3 minutes, until the captcha expires. There's no limit on how many times they can use it. If you make it so one captcha can only be used once, there will be no more bots.

[2022-07-02 17:04] codergautam commented on #154
How do I do that?

[2022-07-02 17:31] mollthecoder commented on #154
Have an object where you store each used captcha and the time it was used and check if the object has the captcha. For memory efficiency, delete captchas older than 3 mins.

[2022-07-02 17:31] mollthecoder commented on #154
Have an object where you store each used captcha and the time it was used and check if the object has the captcha. For memory efficiency, delete captchas older than 3 mins.

[2022-07-03 02:09] Devepation commented on #66
Nice concept! Our team may begin to roll-out this functionality!

[2022-07-03 17:23] mollthecoder commented on #66
@codergautam who is this?

[2022-07-05 01:14] codergautam commented on #66
uh

[2022-07-07 22:07] FishyMine commented on #66
<img width="762" alt="Screen Shot 2022-07-07 at 6 07 24 PM" src="https://user-images.githubusercontent.com/72989672/177879714-c9740961-059d-4714-a09e-9b32d45116a2.png">

They keep thinking they are swordbattle's partner.

[2022-07-08 23:28] codergautam commented on #66
No he sent me this email

<img width="903" alt="image" src="https://user-images.githubusercontent.com/66850133/178081687-c329fb1f-7b81-4b49-8cfe-2d9550cae9d8.png">

I was like free skins? sure!

Never thought the skins would look like this..

<img width="309" alt="image" src="https://user-images.githubusercontent.com/66850133/178081761-7ecf24b3-d723-4d71-88b3-73934ba90cd6.png">

[2022-07-09 13:48] FishyMine commented on #66
lmao

[2022-07-10 19:35] FishyMine commented on #144
Just dont delete any tables or stuff, otherwise I would have to re-login to the database and fix it up

[2022-07-10 23:29] mollthecoder commented on #144
Or i could just use the JS lib to fix up the database

[2022-07-11 19:23] FishyMine commented on #147
That wont speed it up, probably would make it slower. You could try but I wouldnt in my opinion.

[2022-07-11 19:31] codergautam commented on #147
@FishyMine Why would it be slower?

[2022-07-22 15:54] #155 closed

[2022-07-22 15:54] #53 closed

[2022-07-22 15:55] #154 closed

[2022-07-22 15:55] codergautam commented on #154
But shouldn't google do that? Once a captcha is used it's marked invalid.

[2022-07-22 15:56] #147 closed

[2022-07-22 15:56] codergautam commented on #66
Suggestions have moved to https://forum.codergautam.dev/

[2022-07-22 15:56] #66 closed

[2022-07-22 15:56] #42 closed

[2022-07-24 23:14] mollthecoder commented on #154
Ah yes your right google does that

[2022-10-13 20:44] mollthecoder opened #179 "Report"

[2022-10-13 20:44] #179 closed

[2022-10-15 22:02] simmbiote opened #181 "Styling on welcome screen can be improved"
Hi, I will be opening a PR to address these issues:

- Fonts are inconsistent
- form fields are not styled
- title.html contains <head> code which should not be there.
- Close buttons use up a lot of space.
- Forms don't have basic validation.

[2022-10-16 03:25] codergautam commented on #181
alright, thanks!

Could you please elaborate on `title.html` and the basic validation?

[2022-10-18 06:16] simmbiote commented on #181
Hi @codergautam,
title.html - it had <head> html, which shouldn't be there because title.html here is more like a partial, so you had a second <head> inside the body.
Basic validation - using the `required` attribute on input fields, we can leverage HTML5 to indicate to the user that they need to enter data into the field.

[2022-10-18 06:21] simmbiote opened #186 "Optimise username display on responsive"
## Description:
Long usernames overlap the Skins button on smaller devices.

## Screenshot:
<img width="379" alt="image" src="https://user-images.githubusercontent.com/11704483/196351373-785c6306-8621-461a-bb03-a1f576968d4b.png">

## Requirements:
[] Reduce the font size and apply a max width to the username container.
[] Truncate longer usernames with ellipses.

[2022-10-18 06:25] simmbiote opened #187 "Center Settings on Welcome Screen"
## Description:
Settings isn't centered - initially it loads centered, but after the dropdowns populate with data, the modal is off-center.

<img width="538" alt="image" src="https://user-images.githubusercontent.com/66850133/196016622-ad1332c2-4beb-4e5c-bbe5-660415632cf8.png">

## Requirements
[] Ensure settings modal is centered, also considering the populated dropdowns.

[2022-10-18 11:20] nerd420xd opened #188 "important problem"
i have seen may lag issues that is not related to the internet speed, but rather that some users including me were doxxed and black mail. imporve your server security bitch

[2022-10-18 11:32] codergautam commented on #188
maybe i would try to fix it if you were more polite? and actually gave me any useful information as to how this was possible?

[2022-10-18 11:32] #188 closed

[2022-10-18 11:32] codergautam commented on #187
Yes, thanks.

[2022-10-18 11:33] codergautam commented on #181
gotcha, that makes sense, thanks for contributing, really appreciate it.

[2022-10-19 03:26] nerd420xd commented on #188
mother fucker

On Tue, Oct 18, 2022 at 6:32 PM Coder Gautam ***@***.***>
wrote:

[2022-10-19 13:32] codergautam commented on #188
._.

[2022-10-19 20:19] mollthecoder commented on #188
This has nothing to do with the server security, assuming they had complete access to ALL server data (which should not be possible), the only personal data they could collect is your email. Even your ip is not stored with the game server. (ips are logged somewhere else, I don't know how it all is run under-the-hood)

[2022-10-19 20:24] mollthecoder commented on #186
Pull request merged

[2022-10-19 20:24] #186 closed

[2022-10-21 00:35] 3kh0 opened #191 "Use icons from font awesome"
Instead of having the buttons all of and in different styles, it would be a good idea to use some of the icons provided by [font awesome](https://fontawesome.com/icons)

I found tons, search up the following: `brush`, `shop`, `info`, `ranking`, and `list`.

[2022-10-22 13:25] mollthecoder commented on #191
This seems a bit bloated to only be useful for a few icons, and if it fails to load (fonts are generally vulnerable to do this in browsers!) then all the icons won't work.

[2022-10-22 13:34] mollthecoder commented on #191
This is good, but we need to make sure to comply with [the license.](https://fontawesome.com/license/free)

[2022-10-23 20:53] 3kh0 commented on #191
@mollthecoder the licence is pretty relaxed, the SVG files already have HTML comments containing proper attribution and the icons are under the [CC BY 4.0 license](https://creativecommons.org/licenses/by/4.0/)

[2022-10-28 00:19] LUIS9799 opened #197 "Enchance all views style"
Enchance style related to general views as leaderboard and About in order to make it better and on-topic about the game, also skins are now really difficult to buy and search for it, why don't you make classes and clasify the skins by them, like.. hacker class, (hacker skin, matrix skin, codergautam skin) etc...

[2022-10-30 04:11] ExtravagantBoost opened #201 "Capcha failure, unable to sign in, unable to join server not logged in"
i dont know how, but recently when i am trying to log in i keep getting a error message “Unexpected errror: please try again later”
and when trying to join a server just as another user, i get a recapcha failure, can somebody tell me whats going on?

[2022-10-30 04:19] ExtravagantBoost commented on #201
fixed. IOS  safari settings was screwing around with the recapcha after new update

[2022-10-30 04:19] #201 closed

[2022-11-07 22:35] Mittelblut9 opened #207 "[CR] Add Dependabot & update to higher versions"
### Hello👋
i went through the current used dependencies and i saw some very highly risk used dependencies versions.

For Example `postgres`:
[code]
**The latest version currently is: [3.3.1](https://www.npmjs.com/package/postgres/v/3.3.1)**

The same for many other deps.
By installing the Dependabot you will get updates automatically as a pull request. That makes your app way safer then it is atm.

[2022-11-08 03:48] mollthecoder commented on #207
Nah, V2 has just as many depreciation warnings

[2022-11-09 23:44] codergautam commented on #207
Yes thanks for telling me about this.. I will take a look into it once v2 has been released.

I agree I was using a pretty old template but one day I will clean things up :)

[2022-11-09 23:45] codergautam commented on #197
Yes, this is something I wanted to do. Probably not in v2 by itself but maybe an update after that.

[2022-11-12 05:13] Jaredass opened #209 "how edit database?"
how can i edit the database?

i need help

[2022-11-12 12:23] codergautam commented on #209
Hi, did you set up the database with all the tables correctly?

[code]

``
CREATE TABLE public.games (
  "time" bigint NULL,
  killerverified boolean NULL,
  verified boolean NULL,
  name text NULL,
  killedby text NULL,
  created_at timestamp without time zone NULL DEFAULT now(),
  kills bigint NULL,
  coins bigint NULL,
  id serial NOT NULL
);
ALTER TABLE
  public.games
ADD
  CONSTRAINT games_pk

[2022-11-12 17:56] Jaredass commented on #209
ty, one quetion more.
how add this database in cockroachlabs.cloud?

[2022-11-12 19:34] codergautam commented on #209
You can do that by creating and account and there is an option to make a database.

[2022-11-12 19:37] Jaredass commented on #209
yes i make a database, but how add this
[code]

[2022-11-14 12:37] codergautam commented on #209
You can connect to the database any way you like, it could be using terminal or a GUI client. Closing because this is getting off-topic.

[2022-11-14 12:37] #209 closed

[2022-11-18 03:54] Jaredass opened #212 "free skins"
Is there the possibility that you can put a certain amount of skins for free?

[2022-11-19 21:56] codergautam commented on #212
Yes, set price to 0.